@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Made by Bogdan Kolomiec</h2>
    <p><a href="https://www.visualcv.com/bogdan-kolomiiets-cv" target="_blank" class="btn btn-info">My resume</a></p>
</div>